body {
    background-color: rgb(184, 189, 211);
     color:rgb(25, 91, 214);
}

.cell {
    width:40px; 
    height:40px;
    text-align: center;
    background-color: rgba(78, 77, 77, 0.918);
}

.cover {
    background-color: rgb(184, 189, 211);
}

.mine {
    background-color: rgb(167, 20, 20);
}

.restart {
    background-color: lightseagreen;
    position: absolute;
    top:150px;
    right: 250px;
    padding: 5px;
    width: 60px;
    display: none;
}

.over {
    background-color: rgb(115, 178, 32);
    position: absolute;
    top:200px;
    right: 200px;
    padding: 5px;
    width: 150px;
    display: none;   
}

.won {
    background-color: rgb(126, 147, 190);
    position: absolute;
    top: 200px;
    right: 200px;
    padding: 5px;
    width: 150px;
    display: none;  

}

.buttons {
    background-color: rgb(124, 178, 223);
    width:190px; 
    
}
